Django==1.8.2
PyYAML==3.11
WebOb==1.4.1
algoliasearch==1.5.8
awsebcli==3.4.5
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.4.0
boto==2.38.0
bugsnag==2.3.1
cement==2.4.0
clearbit==0.0.8
django-airbrake==1.1.0
django-endless-pagination==2.0
django-password-reset==0.7
django-storages==1.1.8
django-tinymce==2.0.2
docker-py==1.1.0
dockerpty==0.3.4
docopt==0.6.2
dropbox==2.2.0
google-api-python-client==1.4.1
httplib2==0.9.1
jmespath==0.7.1
mixpanel==4.1.0
oauth2client==1.4.12
pathspec==0.3.3
psycopg2==2.6
pyasn1==0.1.8
pyasn1-modules==0.0.7
pymongo==3.0.3
python-dateutil==2.4.2
requests==2.6.2
rsa==3.2
simplejson==3.8.0
six==1.9.0
slackclient==0.16
stripe==1.22.3
texttable==0.8.3
uritemplate==0.6
urllib3==1.10.4
websocket-client==0.32.0
whitenoise==2.0.1
wsgiref==0.1.2
