/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body {
	background-color: white;
}
label.form-field {
	color: #C0504D;
}
nav ul a {
	color: gray;
}
/*input {
	color:white;
}
.input-field label{
	color:white;
}
.input-field .prefix.active {
     color: white;
}*/
div#buttons.row.center.form {
	background-color: white;
	height: 310px;
	border-radius: 10px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	width: 450px;
}
form.col.s12 {
	padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.quick-signup {
	margin-top: 10px;
	width: 390px;
	height: 50px;
}
.input-field input[type=text]:focus {
     border-bottom: 1px solid #34B575;
     box-shadow: 0 1px 0 0 #34B575;
}
.input-field input[type=password]:focus {
     border-bottom: 1px solid #34B575;
     box-shadow: 0 1px 0 0 #34B575;
}
.navbar {
	background-color: white;
	box-shadow: none;
	border-bottom: 2px solid gray;
}
.company {
	color: white;
	text-align: center;
	width: 300px;
}
.logo {
	padding-top: 5px;
	width: 80px;
}
.top {
	background: -webkit-linear-gradient(#27AAE1,#2BB673);
    background: -o-linear-gradient(#27AAE1,#2BB673);
    background: -moz-linear-gradient(#27AAE1,#2BB673);
    background: linear-gradient(#27AAE1,#2BB673);
	height: 590px;
}
.tagline {
	color: white;
}
.top-icons {
	color: #27AAE1;
}
.second-icons {
	color: #00e5ff;
}
.darker {
	color: white;
	background-color: #2BB673;
}
div.mentors {
	height: 670px;
	display: table-cell;
	vertical-align: middle;
}
.lighter {
	color: gray;
	background-color: white;
}
.services {
	height: 650px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.faq {
	height: 700px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.price-list {
	display: table-cell;
	vertical-align: middle;
	height: 750px;
}
.process {
	text-align: center;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}
.faq {
	text-align: left;
}
.answers {
	font-size: 18px;
}
.pricing {
	width: 88%;
	margin-right: auto;
	margin-left: auto;
}
.price-header {
	text-align: center;
}
.price {
	text-align: center;
	color: white;
	background-color: #C0504D;
}
.price-button {
	background-color: #C0504D;
}
.collection {
	height: 283px;
}
#faq-header {
	text-align: center;
}
.icon-block {
  padding: 0 15px;
}
.candidate-form {
	margin-right: auto;
	margin-left: auto;
	max-width: 500px;
	padding-top: 15px; 
	color: #C0504D;
}
.candidates {
	margin-right: auto;
	margin-left: auto;
	max-width: 700px;
	color: #C0504D;
}
.title {
	text-align: center;
	font-size: 32px;
}
.candidate-description {
	font-size: 18px;
	padding-left: 10px;
	padding-right: 10px;
}
.success {
	margin-right: auto;
	margin-left: auto;
	margin-bottom:250px;
	max-width: 800px;
	padding-top: 30px;
	color: #C0504D;
}
.waiting {
	text-align: center;
	color: black;
}
.sup {
	height: 149px;
	width: 100%;
	text-align: center;
}
.button {
	width: 100%;
	margin-bottom: 5px;
}
.linkedin {
	width: 200px;
}
.service-select {
	max-width: 240px;
}
div.col.s12.m6.link {
	padding: 3px;
}
.stripe-button {
	width: 300px;
}
#middle {
	height: 150px;
}
@media only screen and (max-width: 500px) {
	div#buttons.row.center {
		width: 100%;
	}
	.tagline {
		font-size: 36px;
	}
	.logo {
		width: 60px;
	}
	a#logo-container.brand-logo.logo-name {
		font-size: 20px;
	}
	.top {
		height: 590px;
	}
	div#buttons.row.center.form {
		width: 250px;
	}
	.quick-signup {
		width: 190px;
	}
	.company {
		width: 200px;
	}
}
.about-pic {
	width: 150px;
}
.payment {
	color: #C0504D;
}