
header, div#content, footer {
    padding-left: 270px;
    padding-right: 20px;
  }

  @media only screen and (max-width : 992px) {
    header, div#content, footer {
      padding-left: 0;
    }
  }
.side-nav-header {
	height: 120px;
	background-color: navy;
	display: table-cell;
	vertical-align: middle;
}
.side-nav {
	background-color: #4A4A4A;
}
.side-nav.fixed a#school-logo {
	padding: 0px;
}
a#sidenav {
	color: white;
}
.search {
	background-color: #f9f9fa;
}
input#search {
	height: 60px;
	margin-left: 42px;
	width: 92%;
}
.search-params {
	margin-left: 32px;
}
.results {
	background-color: #f9f9fa;
}
.row.result {
	height: 120px;
	border-bottom: 1px solid #EEE;
	border-top: 1px solid white;
	margin-bottom: 0px; 
}
ul.posting-details li{
	padding-bottom: 10px;
}
.row.result:hover {
	background-color: #F5F5F5;
}
div.col.m2.s12.company-logo {
	height: 100%;
	text-align: center;
}
.btn-posting {
	height: 100%;
	margin-top: 35px;
}
.square-logo {
	margin-top: 20px;
	width: 75px;
	height: 75px;
}
.row.block {
	margin: 0px;
	height: 6px;
}
.apply-logo {
	text-align: center;
}
.company-logo {
	width: 100px;
	height: 100px;
}
.select-wrapper input.select-dropdown {
	border-bottom: none;
}
.about {
	font-size: 20px;
}
div.col.m3.s4.clear {
	margin-top: 10px;
	padding-left: 45px;
}
@media only screen and (max-width : 800px) {
	.search-params {
		margin-left: 2px;
	}
	div#content {
		padding-left: 20px;
	}
    .row.result {
      height: 420px;
      text-align: center;
    }
    div.col.m2.s12.company-logo {
		height: 30%;
	}
	input#search{
		width: 95%;
		margin-left: 10px;
	}
	.btn-posting {
		height: 100%;
		margin-top: 10px;
	}
	div.col.m3.s4.clear {
		margin-top: 0px;
		margin-bottom: 10px;
		padding-left: 10px;
	}
  }