
header, div#content, footer {
    padding-left: 270px;
    padding-right: 20px;
  }

  @media only screen and (max-width : 992px) {
    header, div#content, footer {
      padding-left: 0;
    }
  }
.side-nav-header {
	height: 120px;
	width: 270px;
	background-color: #f9f9fa;
	display: table-cell;
	border-bottom: 2px solid white;
}
.side-nav-header#student {
	height: 120px;
	width: 270px;
	background-color: #e9eaec;
	display: table-cell;
	border-bottom: 2px solid white;
	vertical-align: middle;
}
.side-nav {
	background-color: #2F3439;
}
.side-nav.fixed a#school-logo {
	padding: 0px;
	text-align: center;
}
.side-nav li {
	border-bottom: 1px solid #7D7D7D
}
.university-logo {
	max-height: 85px;
	max-width: 225px;
}
a#sidenav {
	color: white;
}
.search {
	background-color: #f9f9fa;
}
input#search {
	height: 60px;
	margin-left: 42px;
	width: 92%;
}
.search-params {
	margin-left: 32px;
}
.results {
	background-color: #f9f9fa;
}
.result {
	min-height: 120px;
	border-bottom: 1px solid #EEE;
	border-top: 1px solid white;
	margin-bottom: 0px; 
}
.result:hover {
  background-color: #F5F5F5;
}
div.row.result-content {
	margin-bottom: 0px;
}
.detail {
	margin-left: 40px;
}
ul.posting-details li{
	padding-bottom: 10px;
}
.row.result:hover {
	background-color: #F5F5F5;
}
div.col.m2.s12.company-logo {
	height: 100%;
	text-align: center;
}
.btn-posting {
	height: 100%;
	margin-top: 35px;
}
.square-logo {
	margin-top: 20px;
	width: 75px;
	height: 75px;
}
.row.block {
	margin: 0px;
	height: 6px;
}
.apply-logo {
	text-align: center;
}
.select-wrapper input.select-dropdown {
	border-bottom: none;
}
.about {
	font-size: 20px;
}
div.col.m3.s4.clear {
	margin-top: 10px;
	padding-left: 45px;
}
.card {
	height: 320px;
}
.posting-location {
	font-size: 17px;
    font-weight: 200;
}
.company-logo {
	height: 105px;
	width: 105px;
}
.student-logo {
    width: 100px;
    height: 100px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: gray;
    background-color: lightgray;
}
a#logo {
	padding-top: 10px;
	text-align: center;
}
.no-post {
	margin-top: 100px;
}
.post-describe {
	padding-bottom: 15px;
	margin-top: 10px;
}
.change-password {
	margin-left: 20px;
}
.referrals {
	max-width: 500px;
}
.referral {
	display: table-cell;
	vertical-align: top;
}
.referral-select {
	text-align: right;
}
div.modal.posting-apply {
	max-height: 85%;
}
.menu {
	margin-left: 15px;
}
.modal {
	position: fixed;
	overflow: hidden;
}
.university-modal {
	height: 550px;
}
.universities {
	margin-right: auto;
	margin-left: auto;
    height: 350px; /* or any value */
    overflow-y: auto;
}
div.posting-info {
	background-color: #F5F5F5;
	padding: 15px;
	height: 200px;
	overflow-y: auto;
	box-shadow: inset 1px 1px 3px #999;
}
.refer-form {
	position: fixed;
	overflow: hidden;
}
.referrals {
	height: 400px;
	overflow-y: auto;
	border-bottom: 1px solid lightgray;
}
#login {
	background-color: #2BB673;
}

@media only screen and (max-width : 800px) {
	.search-params {
		margin-left: 2px;
	}
	div#content {
		padding-left: 20px;
	}
    .result {
      min-height: 420px;
      text-align: center;
    }
    div.col.m2.s12.company-logo {
		height: 30%;
	}
	input#search{
		width: 95%;
		margin-left: 10px;
	}
	.btn-posting {
		height: 100%;
		margin-top: 10px;
	}
	div.col.m3.s4.clear {
		margin-top: 0px;
		margin-bottom: 10px;
		padding-left: 10px;
	}
	.detail {
		padding-top: 10px;
		max-width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
  }