{% load endless %}

{% paginate entries %}
{% for posting in entries %}
<div class="result" name="{{ posting.id }}">
  <div class="row result-content">
    <div class="col m2 s12 company-logo">
      <a href="{% url 'company_detail' posting.company.id%}" target="_blank"><img class="square-logo" src="{{ posting.company.logo }}"></a>
    </div>
    <div class="col m3 s12">
      <ul class="posting-details">
        <li><a href="{% url 'company_detail' posting.company.id%}" target="_blank"><strong>{{ posting.company.name }}</strong></a></li>
        <li>{{ posting.position }}</li>
        <li>{{ posting.location }}</li>
      </ul>
    </div>
    <div class="col m4 s12">
      <ul class="posting-details">
        <li>{{ posting.job_start_date|title }} Start</li>
        <li>{{ posting.role }} Role</li>
        <li>{{ posting.job_type|title }}</li>
      </ul>
    </div>
    <div class="col m2 s12">
      {% if student.confirmed and student.resume_s3 != None %}
        {% if posting.started %}
        <a href="#" name="{{ posting.id }}" class="waves-effect waves-light btn-large btn-posting blue">Apply</a>
        {% else %}
        <a href="#" name="{{ posting.id }}" class="waves-effect waves-light btn-large btn-posting blue">Follow</a>
        {% endif %}
      {% endif %}
    </div>
  </div>
  <div class="row detail" id="{{posting.id}}" hidden>
    <h6>About {{ posting.company.name }}:</h6>
    <p>{{ posting.company.about }}</p>
    <h6>Description:</h6>
    <p>{{ posting.description|safe }}</p>
  </div>
</div>
<div class="row block">
</div>
<div id="modal{{posting.id}}" class="modal posting-apply">
    <div class="modal-content">
      <div class="row center">
          <img class="company-logo z-depth-1 responsive-img" src="{{ posting.company.logo }}">
        </div>
          <div class="row center">
            <h5>{{ posting.position }}</h5>
            <h6>{{ posting.company.name }}</h6>
          </div>
        <div class="posting-info">
          <div class="row">
            <h6>About {{ posting.company.name }}:</h6>
            <p class="about">{{ posting.company.about }}</p>
            <h6>Location:</h6>
            <p class="about">{{ posting.location }}</p>
            <h6>Start Date:</h6>
            <p class="about">{{ posting.job_start_date }}</p>
            <h6>Description:</h6>
            <p class="about">{{ posting.description|safe }}</p>
          </div>
        </div>
        <div class="row center">
          {% if posting.started %}
          {% if not applied %}
          <a href="{% url 'apply' posting.id%}" class="waves-effect waves-light btn-large blue">Apply</a>
          {% endif %}
          {% else %}
          <a href="{% url 'follow' posting.id%}" name="{{ posting.id }}" class="waves-effect waves-light btn-large btn-posting blue">Follow</a>
          {% endif %}
        </div>
  </div>
</div>
{% endfor %}
{% show_more %}