{% extends "base.html" %}
{% block title %}About Us{% endblock %}
{% block content %}
{% load staticfiles %}

  <div class="container">
      <!--   Icon Section   -->
    <div class="section process"><br>
      <h4>About Us</h4>
      <div class="flow-text candidate-description">
        <p>We're two guys who've spent way too much time both looking for jobs and looking for candidates. We're building JobFire so you can play golf with the time we save you.</p>
      </div><br>
      <div class="row">
        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center top-icons"><img class="about-pic" src="{% static "img/kendall.jpg" %}"></h2>
            <h5 class="center">Kendall Cole</h5>

            <p class="light">Former software engineer at Unbabel and Veenome. World's luckiest casual soccer fan, avocado afficionado, language struggler.</p>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center top-icons"><img class="about-pic" src="{% static "img/jai.png" %}"></h2>
            <h5 class="center">Jai Prasad</h5>

            <p class="light">Former management consultant at Accenture. Short Sleeve Button Down connoisseur, travel fanatic, recently brainwashed cross-fitter.</p>
          </div>
        </div>
      </div>
      </div><br><br><br><br>

    </div>
{% endblock %}
