{% extends "company_base.html" %}
{% block title %}EntryWire | All Applicants{% endblock %}
{% block content %}
{% load staticfiles %}
      <!--   Icon Section   -->
<div class="container">
  <div class="row center">
    <h4>All Applicants</h4>
  </div>
  {% if applications %}
  <table class="centered">
    <thead>
      <tr>
          <th>Student Name</th>
          <th>University</th>
          <th>Position</th>
          <th>Resume</th>
      </tr>
    </thead>
    <tbody>
      {% for application in applications %}
      <tr>
        <td><a href="{% url 'view_student' application.student.id%}">{{ application.student.first_name }} {{ application.student.last_name }}</a></td>
        <td>{{ application.student.university.name }}</td>
        <td>{{ application.posting.position }}</td>
        <td><a href="{{ application.student.resume_s3 }}">View</a></td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <div class="row center">
    <p class="flow-text">No applicants yet!</p>
  </div>
  {% endif %}
</div>


<script>
  $(document).ready(function(){
  });
</script>
{% endblock %}