<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Top Jobs for Top Candidates">
    <meta name="author" content="HawkHire, Inc.">
    {% load static from staticfiles %}
    <link rel="icon" type="image/png" href="{% static "img/favicon-32x32.png" %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static "img/favicon-16x16.png" %}" sizes="16x16" />
    <title>{% block title %}{% endblock title %}</title>
    {% block meta %}{% endblock meta %}

    {% block styles %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "css/materialize.css" %}" >
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    {% block extra_styles %}{% endblock extra_styles %}
    {% endblock styles %}

    {% block javascript %}
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/materialize.js" %}"></script>
    <script src="{% static "js/init.js" %}"></script>
    <script>
    $(document).ready(function() {
      $(".button-collapse").sideNav();
    });
    </script>
    {% endblock javascript %}
      {% block extraJS %}

      {% endblock %}

    {% block extra_head %}{% endblock extra_head %}
  </head>
<body>
  <div class="side-nav fixed">
    <div class="side-nav-header">
      <a href="{% url 'home' %}" id="school-logo"><img src="{% static "img/uva-logo-white.png" %}"></a>
    </div>
    <ul id="slide-out">
    <li><a href="{% url 'student_profile' %}" id="sidenav">My Profile</a></li>
    <li><a href="{% url 'home' %}" id="sidenav">Available Jobs</a></li>
    <li><a href="{% url 'applications' %}" id="sidenav">Applications</a></li>
    <li><a href="{% url 'interviews' %}" id="sidenav">Interviews</a></li>
    <li><a href="{% url 'logout' %}" id="sidenav">Logout</a></li>
<!--     <li><a href="#!" id="sidenav">Settings</a></li>
 -->  </ul>
  </div>
    <div id="content">{% block content %}{% endblock %}</div>
<!--     <div id="footer">
        {% block footer %}
          <footer class="page-footer light-blue lighten-2">
            <div class="container">
              <div class="row">
                <div class="col m2 s12">
                  <a href="/about/" class="white-text">About Us</a>
                </div>

                <div class="col m2 s12">
                  <a href="mailto:kendall@hawkhire.com" target="_top" class="white-text">Support</a>
                </div>
                <div class="col m2 s12">
                  <a href="/privacy/" class="white-text">Privacy</a>
                </div>
                <div class="col m2 s12">
                  <a href="/terms/" class="white-text">Terms</a>
                </div>
                <div class="col m2 s12">
                  <a href="https://www.facebook.com/hawkhire" target="_blank" class="white-text"><i class="fa fa-facebook"></i></a>
                </div>
                <div class="col m2 s12">
                  <a href="https://twitter.com/HawkHire" target="_blank" class="white-text"><i class="fa fa-twitter"></i></a>
                </div>
              </div>
            </div>
            <div class="footer-copyright">
              <div class="container">
                © 2015 HawkHire, Inc.
              </div>
            </div>
          </footer>
        {% endblock %}
    </div> -->

</body>
</html>