{% extends "base.html" %}
{% block title %}JobFire{% endblock %}
{% block content %}
{% load staticfiles %}
    <div class="container">
      <br>
      <h4>Company Signup</h4>
      <div class="row">
        {% if errors != None %}
        {{ form.errors }}
        {% endif %}
        {% if message != None %}
        <h6 style="color:red;">{{ message }}</h6>
        {% endif %}
          <form class="col s12" role="form" id="register" method="POST" action="{% url 'company_signup' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
              <div class="input-field col s12">
                <label for="name">Company Name</label>
                <input type="text" name="name" required/>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <label for="email">Email</label>
                <input type="text" name="email" required/>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <label for="url">URL</label>
                <input type="text" name="url" id="id_url" required/>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <label for="address">Address</label>
                <input type="text" name="address" required/>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <textarea name="about" id="id_about" class="materialize-textarea"></textarea>
                <label for="about">Detailed Company Description</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <label for="phone">Contact Phone</label>
                <input type="text" name="phone" id="id_phone" required/>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <label for="password">Password</label>
                <input type="password" name="password" id="id_password" required/>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <label for="re-password">Re-enter Password</label>
                <input type="password" name="re-password" id="id_password_check" required/>
              </div>
            </div>
          <div class="file-field input-field">
            <input class="file-path validate" type="text" value="Logo (square)" />
              <div class="btn blue-grey">
                <span>File</span>
                <input type="file" name="logo" id="id_logo" accept="image/*" required/>
              </div>
        </div>
        <button class="btn waves-light red darken-4" type="submit" name="action">Submit
            <i class="mdi-content-send right"></i>
        </button>
          </form>
      </div>
  </div>
    <script>
    function validateURL(textval) {
      var urlregex = new RegExp(
            "^(http:\/\/www.|https:\/\/www.|ftp:\/\/www.|www.){1}([0-9A-Za-z]+\.)");
      return urlregex.test(textval);
    }
    $(document).ready(function() {
      mixpanel.track('Viewed Company Signup');
      $('select').material_select();
      $('#id_url').focusout(function(){
        var url = $(this).val();
        if (validateURL(url) === false) {
          alert('Please enter a valid URL (include www)');
          $(this).focus();
        }
      });
      $('#id_password_check').focusout(function(){
          var pass = $('#id_password').val();
          var pass2 = $('#id_password_check').val();
          if(pass != pass2){
              alert('Passwords do not match!');
              $('#id_password_check').focus();
          }
      });
      mixpanel.track_forms("#register", "Company Signed Up");
    });
    </script>
{% endblock %}
