{% extends "company_base.html" %}
{% block title %}JobFire{% endblock %}
{% block content %}
{% load staticfiles %}
      <!--   Icon Section   -->
<div class="section">
    <div class="col m4 s12">
      {% for list in posting_list %}
      <div class="row">
        {% for posting in list %}
        <div class="col s12 m4">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">{{ posting.position }}</span><br>
              <span class="posting-location">{{ posting.location }}</span>
              <br><br>
              <p>{{posting.description|truncatewords:35}}</p>
            </div>
            <div class="card-action">
              <a href="#">Applicants</a>
              <a href="#">View Posting</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    {% endfor %}
</div>


<script>
  $(document).ready(function(){
    var selected = {};
    location.search.substr(1).split("&").forEach(function (pair) {
        if (pair === "") return;
        var parts = pair.split("=");
        selected[parts[0]] = parts[1] &&
        decodeURIComponent(parts[1].replace(/\+/g, " "));
    });
    console.log(selected);
    for (var key in selected) {
      $('option[name='+key+']').removeAttr('selected');
      $('option[value='+selected[key]+']').attr('selected', true);
    };
    $('select').material_select();
    $('select').change(function() {
      var q = $(this).val();
      var base = $(this).attr("name")
      if(String(window.location.href).indexOf('?') > -1){
        var url = window.location.href + "&"+base + "=" + q;
      } else {
        var url = window.location.href + "?"+base + "=" + q;
      }
      $(location).attr('href',url);
    });
    $('input[id=search]').keypress(function(e){
      if (e.which == 13) {
        e.preventDefault();
        var q = $(this).val();
        if(String(window.location.href).indexOf('?') > -1){
          var url = window.location.href + "&"+"q" + "=" + q;
        } else {
          var url = window.location.href + "?"+"q" + "=" + q;
        }
        $(location).attr('href',url);
      }
    });

  });
</script>
{% endblock %}
