{% extends "company_base.html" %}
{% block title %}JobFire{% endblock %}
{% block content %}
{% load staticfiles %}
{% block extra_head %}
{% endblock extra_head %}
      <!--   Icon Section   -->
<div class="section">
    {% if posting_list.0|length != 0 %}
      {% for list in posting_list %}
      <div class="row">
        {% for posting in list %}
        <div class="col s12 m4">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">{{ posting.position }}</span><br>
              <span class="posting-location">{{ posting.location }}</span>
              <br><br>
              <p>
                {% with description=posting.description|safe %}
                {{ description|slice:"65" }}
                {% endwith %}
              </p>
            </div>
            <div class="card-action">
              <a href="{% url 'view_posting' posting.id%}">View</a>
              <a href="{% url 'update_posting' posting.id%}">Update</a>
              <a class="red-text remove" name="{{ posting.id }}" href="#">Remove</a>
            </div>
          </div>
        </div>
      <div id="modal{{posting.id}}" class="modal">
        <div class="modal-content">
          <h4>Delete Posting</h4>
          <p>Are you sure you want to delete this posting?</p>
        </div>
        <div class="modal-footer">
          <a class="btn green white-text modal-action modal-close waves-effect waves-green btn-flat">No</a>
          <a name="{{ posting.id }}" class="btn red white-text waves-effect waves-green btn-flat yes" style="margin-right:5px;">Yes, I'm sure</a>
        </div>
      </div>
        {% endfor %}
      </div>
      {% endfor %}
    {% else %}
    <div class="row center no-post">
      <h5>You haven't posted any jobs!</h5>
      <a href="{% url 'create_posting' %}">Create one now</a>
    </div>
    {% endif %}
</div>
<script>
  $(document).ready(function(){
    $('select').material_select();
    $('.remove').click(function(){
      var posting = $(this).attr('name');
      $('#modal'+posting).openModal();
    });
    $('.yes').click(function(){
      var posting = $(this).attr('name');
      window.location.href = "/remove_posting/"+posting+"/";
    });
  });
</script>
{% endblock %}
