{% extends "base.html" %}
{% block title %}JobFire{% endblock %}
{% block content %}
{% load staticfiles %}
<div class="section no-pad-bot top" id="index-banner">
    <div class="container">
      <br>
      {% if success == True %}
      <h3 class="company">Thank you!</h3>
      <div class="row center">
        <h5 class="header col s12 light white-text">Your email is confirmed. Now go <a href="{% url 'student_home' %}">apply</a> to some jobs!</h5>
      </div>
      {% else %}
      <h3 class="company">This page does not exist.</h3>
      {% endif %}
    </div>
</div>
{% endblock %}