{% extends "company_base.html" %}
{% block title %}EntryWire | Create Posting{% endblock %}
{% load staticfiles %}
{% block extra_head %}
<script>
  var django = {jQuery: jQuery};
</script>
<script src="{% static "tiny_mce/tiny_mce.js" %}"></script>
<script src="{% static "tiny_mce/init_tiny_mce.js" %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>

{% endblock extra_head %}
{% block content %}
<div class="container">
  <h3>Post a Job</h3>
  <br>
  <div class="row">
      <form class="col s12" role="form" method="POST" action="{% url 'create_posting' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
          <div class="col s12">
            <input type="text" name="universities" hidden>
            <a href="#" class="btn waves-light blue university-select">Select Universities</a>
            {{ form.universities.errors }}
          </div>
       </div>
        <div class="row">
          <div class="input-field col s12">
            <label for="position">Position</label>
            {{ form.position }}
          </div>
          {{ form.position.errors }}
        </div>
        <div class="row">
          <div class="input-field col s12">
            {{ form.job_start_date }}
            <label>Preferred Start Date</label>
          </div>
          {{ form.job_start_date.errors }}
       </div>
        <div class="row">
          <div class="input-field col s12">
            {{ form.job_type }}
            <label>Job Type</label>
          </div>
          {{ form.job_type.errors }}
       </div>
        <div class="row">
          <div class="input-field col s12">
            {{ form.role }}
            <label>Role</label>
          </div>
          {{ form.role.errors }}
       </div>
        <div class="row">
          <div class="input-field col s12">
            <label for="location">Location</label>
            {{ form.location }}
          </div>
          {{ form.location.errors }}
        </div>
        <div class="row">
          <div class="input-field col s12">
            {{ form.description }}
            <label for="description" class="post-describe">Description</label><br>
          </div>
          {{ form.description.errors }}
        </div>
    <button class="btn waves-light green" type="submit" name="action">Submit
        <i class="mdi-content-send right"></i>
    </button>
      </form>
  </div>
</div>
<div id="modal" class="modal posting-apply">
    <div class="modal-content">
      <div class="row center scroll-block">
        <ul class="collection universities">
        {% for university in universities %}
          <li class="collection-item avatar">
            <div class="col m10">
              <i class="medium material-icons student-logo z-depth-1 circle responsive-img">perm_identity</i>
              <p class="flow-text">{{ university.name }}</p>
            </div>
            <div class="input-field col m2 referral">
              <p class="referral-select">
                <input type="checkbox" id="id_check_{{university.id}}" value="{{university.id}}"/>
                <label for="id_check_{{university.id}}"></label>
              </p>            
            </div>
          </li>
        {% endfor %}
        </ul>
        <a href="#" class="btn waves-light blue university-set">Select Universities</a>
      </div>
  </div>
</div>
<script>
$(document).ready(function() {
    $('select').material_select();
    $('.university-select').click(function(){
      $('#modal').openModal();
    });
    $('.university-set').click(function(){
      var universities = [];
      $('input[type=checkbox]:checked').each(function() { 
        universities.push($(this).val());
      });
      $('input[name=universities]').val(universities);
      $('#modal').closeModal();
    });
  });
</script>
<script type="text/javascript">
google.maps.event.addDomListener(window, 'load', function () {
    var options = {
      types: ['(cities)'],
    };
    var input = document.getElementById('pac-input')
    var places = new google.maps.places.Autocomplete(input, options);
    google.maps.event.addListener(places, 'place_changed', function () {
        var address = place.formatted_address;
    });
});
</script>
{% endblock %}