{% extends "company_base.html" %}
{% block title %}EntryWire | Create Posting{% endblock %}
{% load staticfiles %}
{% block extra_head %}
<script>
  var django = {jQuery: jQuery};
</script>
<script src="{% static "tiny_mce/tiny_mce.js" %}"></script>
<script src="{% static "tiny_mce/init_tiny_mce.js" %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>

{% endblock extra_head %}
{% block content %}
<div class="container">
  <h3>Post a Job</h3>
  <br>
  <div class="row">
    {% if errors != None %}
    {{ errors }}
    {% endif %}
      <form class="col s12" role="form" method="POST" action="{% url 'create_posting' %}" enctype="multipart/form-data">
        {% csrf_token %}

<!--         <input id="pac-input" class="controls" type="text"
        placeholder="Enter a location">
 -->
        <div class="row">
          <div class="input-field col s12">
            {{ form.job_start_date }}
            <label>Preferred Start Date</label>
          </div>
       </div>
        <div class="row">
          <div class="input-field col s12">
            {{ form.university }}
            <label>University</label>
          </div>
       </div>
        <div class="row">
          <div class="input-field col s12">
            <label for="position">Position</label>
            {{ form.position }}
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            {{ form.job_type }}
            <label>Job Type</label>
          </div>
       </div>
        <div class="row">
          <div class="input-field col s12">
            {{ form.role }}
            <label>Role</label>
          </div>
       </div>
        <div class="row">
          <div class="input-field col s12">
            <label for="location">Location</label>
            {{ form.location }}
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            {{ form.description }}
            <label for="description" class="post-describe">Description</label><br>
          </div>
        </div>
    <button class="btn waves-light red darken-4" type="submit" name="action">Submit
        <i class="mdi-content-send right"></i>
    </button>
      </form>
  </div>
</div>
<script>
$(document).ready(function() {
    $('select').material_select();
  });
</script>
<script type="text/javascript">
google.maps.event.addDomListener(window, 'load', function () {
    var options = {
      types: ['(cities)'],
    };
    var input = document.getElementById('pac-input')
    var places = new google.maps.places.Autocomplete(input, options);
    google.maps.event.addListener(places, 'place_changed', function () {
        var address = place.formatted_address;
    });
});
</script>
{% endblock %}