<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="EntryWire connects elite students and alumni to top startups and tech companies. Sign up today to see which companies are recruiting on your campus.">
    <meta name="author" content="EntryWire">
    <meta property="og:title" content="Work for a Startup" />
    <meta property="og:site_name" content="EntryWire"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="Work for a Startup"/>
    <meta name="twitter:url" content="https://www.entrywire.com/"/>
    <meta name="twitter:description" content="EntryWire connects elite students to top startups and tech companies. Sign up today to see which companies are recruiting on your campus."/>
    <meta name="twitter:image:src" content="https://www.entrywire.com/static/img/main-logo.png"/>
    <meta name="google-site-verification" content="F0nNGzG2ia1XE0DV01ihmMIDngGSY8ybR9ly9kifud4" />
    {% load static from staticfiles %}
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
    <link rel="icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
    <title>EntryWire: Startup Jobs for College Students</title>

    <link rel="stylesheet" type="text/css" href="{% static "css/materialize.css" %}" >
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="{% static "css/index.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/materialize.js" %}"></script>
    <script src="{% static "js/init.js" %}"></script>
    <script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
    for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
    mixpanel.init("95081ab8e98914b6965495daf3aa590c");
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-67565541-2', 'auto');
      ga('send', 'pageview');

    </script>
  </head>
  <body>
    <div class="navbar-fixed">  
      <nav class="navbar" role="navigation">
          <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo logo-name"><img class="logo" src="{% static "img/main-logo.png" %}"></a>
            <ul class="right hide-on-med-and-down">
              <li><a href="{% url 'login' %}">Login</a></li>
            </ul>
            <ul class="right hide-on-med-and-down light">
              <li><a href="{% url 'company_signup' %}">Companies</a></li>
            </ul>
<!--             <ul class="right hide-on-med-and-down">
              <li><a href="#mentors">Pricing</a></li>
            </ul> -->
<!--             <ul class="right hide-on-med-and-down">
              <li><a href="#students">Students</a></li>
            </ul> -->

            <ul id="nav-mobile" class="side-nav">
              <li><a href="{% url 'company_signup' %}">Companies</a></li>
<!--               <li><a href="#students">Students</a></li>
 -->              <li><a href="{% url 'login' %}">Login</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
          </div>
      </nav>
    </div>
      <div id="content">
        <div class="section no-pad-bot top" id="index-banner">
            <div class="container">
              <p class="center"><img class="company" src="{% static 'img/alt-logo.png' %}"></p>
              <div class="row center">
                <h5 class="header col s12 light white-text">Work for a Startup</h5>
              </div>  
              <br>
              <div class="row center form" id="buttons">
<!--                 <div class="col s12 m6 link">
                  <a href="{% url 'student_signup' %}" id="candidates" class="button btn-large waves-effect waves-light deep-orange">Students</a>
                </div>
                <div class="col s12 m6 link">
                  <a href="{% url 'company_signup' %}" id="candidates" class="button btn-large waves-effect waves-light deep-orange">Companies</a>
                </div> -->
                <form class="col s12" role="form" method="POST" id="register" action="{% url 'home' %}">
                {% csrf_token %}
                  <div class="row">
                    <div class="input-field col s12">
                      <label for="id_email">School Email</label>
                      <input name="email" id="id_email" type="text" required>
                      {{ form.email.errors }}
                      {% if error %}
                      <p style="color:red;">{{ error }}</p>
                      {% endif %}
                    </div>
                 </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <label for="id_password">Password</label>
                      {{ form.email.password }}
                      <input name="password" id="id_password" type="password" required>
                    </div>
                 </div>
                 <input name="major" id="id_major" type="text" hidden>
                 <input name="graduation_date" id="id_graduation_date" type="text" hidden>
                  <button class="btn waves-light cyan quick-signup" type="submit" name="action">Get Started
                      <i class="mdi-content-send right"></i>
                  </button>
               </form>
               <a href="{% url 'login' %}">Already signed up? Login</a>
              </div>
              <div id="modal{{posting.id}}" class="modal major-modal">
                  <div class="modal-content">
                    <div class="row form">
                      <form role="form">
                        <br>
                      <div class="row">
                          <div class="input-field col s12">
                            <select name="major_select" id="id_major_select" required>
                              <option value="" disabled selected>Major</option>
                              {% for major in majors %}
                              <option value="{{ major.name }}">{{ major.name }}</option>
                              {% endfor %}
                            </select>
                            <label>Major:</label>
                            {{ form.major.errors }}
                          </div>
                       </div>
                        <label>Expected Graduation:</label>
                        <div class="row">
                          <div class="col s4 m4">
                            <select name="semester" id="id_semester" required>
                              <option value="" disabled selected>Semester</option>
                              <option value="Spring">Spring</option>
                              <option value="Winter">Winter</option>
                            </select>
                          </div>
                          <div class="grad-year col s4 m4">
                            <input type="text" name="grad_year" id="id_grad_year" placeholder="Year" required>
                          </div>
                       </div>

                      </form><br>
                  <div class="center">
                    <button class="btn waves-light cyan major-dec" type="submit" name="action">Sign Up
                        <i class="mdi-content-send right"></i>
                    </button>
                  </div>

                    </div>
                </div>
              </div>
              <div class="row center">
                <br>
<!--                 <a style="color:white;" href="https://kc19.typeform.com/to/tJmwjt" target="_blank">Want EntryWire at your school? Sign up here</a> -->
              </div>
              <br><br><br>
            </div>
          </div>
          <div class="lighter services" id="students">
          <div class="container">
            <br><br><br>
            <div class="section center">
              <h4>Find the Right Company</h4>
              <div class="row">
                <div class="col s12 m12">
                    <p class="light answers">We're building the simplest platform for students and recent graduates interested in high-impact jobs right after graduation. <a href="{% url 'student_signup' %}">Get started now.</a></p>
                </div>
              </div>
              <div class="row">
                <div class="col s12 m4">
                  <div class="icon-block">
                    <h2 class="center top-icons"><i class="medium material-icons top-icons">input</i></h2>
                    <h5 class="center">Direct Connections</h5>

                    <p class="light">Your application is sent directly to the hiring manager or CEO. No recruiters or third parties.</p>
                  </div>
                </div>

                <div class="col s12 m4">
                  <div class="icon-block">
                    <h2 class="center top-icons"><i class="medium material-icons top-icons">search</i></h2>
                    <h5 class="center">Curated Jobs</h5>

                    <p class="light">We only work with top companies, all of which are looking for students and alumni from your university.</p>
                  </div>
                </div>
                <div class="col s12 m4">
                  <div class="icon-block">
                    <h2 class="center top-icons"><i class="medium material-icons top-icons">done</i></h2>
                    <h5 class="center">Easy Apply</h5>

                    <p class="light">Our powerful search, one-click application and research tools make your job search simpler than ever.</p>
                  </div>
                </div>
              </div>
              
              </div>
          </div>
        </div>
          <div class="darker" id="companies">
          <div class="container mentors">
            <br><br><br>
            <div class="section center">
              <h4>Let Us Help</h4>
              <div class="row">
                <div class="col s12 m12">
                    <p class="light answers">We're building an advanced recommendation algorithm to help you find the right opportunity. <a href="{% url 'student_signup' %}" style="color:#00e5ff;">Sign up</a> to gain access to our beta.</p>
                </div>
              </div>
              <div class="row">
                <div class="col s12 m4">
                  <div class="icon-block">
                    <h2 class="center"><i class="medium material-icons second-icons">perm_identity</i></h2>
                    <h5 class="center">Personalized</h5>

                    <p class="light">Our recommendations are calculated based on your background (interests, experience, etc.)</p>
                  </div>
                </div>

                <div class="col s12 m4">
                  <div class="icon-block">
                    <h2 class="center"><i class="medium material-icons second-icons">trending_up</i></h2>
                    <h5 class="center">Powerful</h5>

                    <p class="light">Our algorithm draws on dozens of data sources to help surface opportunities you may not find on your own.</p>
                  </div>
                </div>
                <div class="col s12 m4">
                  <div class="icon-block">
                    <h2 class="center"><i class="medium material-icons second-icons">thumb_up</i></h2>
                    <h5 class="center">Effortless</h5>

                    <p class="light">Confirm that you are interested in our recommended companies, and we'll do the rest.</p>
                  </div>
                </div>
              </div>
              
              </div>
            </div>
          </div>
         
          <div class="lighter">
          <div class="container">
          <div class="section">
            <br><br><br>
            <h4 id="faq-header">Frequently Asked Questions</h4><br>
            <div class="row">
              <div class="col s12 m12">
                <h5>How does this work?</h5>
                  <p class="light answers">We help you find a job in two ways. You can use our search and research tools to find jobs you like, then apply to or follow them. Additionally, we'll discover and send you jobs we think will interest you, and contact the companies on you behalf, if you'd like.</p>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m12">
                <h5>Why are some jobs “follow” and others “apply”?</h5>
                  <p class="light answers">Positions that are "followable" aren't open just yet, but will be soon. These companies want to know which students are interested when they are ready to hire. Positions marked with "Apply" are actively looking for candidates.</p>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m12">
                <h5>What happens when I click "follow"?</h5>
                  <p class="light answers">By following a position, your are indicating your interest. We will send your resume and profile to the hiring manager, and they will notify you when the position is open. Additionally, they may contact you in advance with different opportunities.</p>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m12">
                <h5>What happens when I click "apply"?</h5>
                  <p class="light answers">Clicking apply indicates your immediate availability and interest in the position. Your information will be sent to the hiring manager, and if there’s a fit, they will reach out to you directly.</p>
              </div>
            </div>
          </div>
            <div class="row">
              <div class="col s12 m12">
                <h5>What type of companies do you work with?</h5>
                  <p class="light answers">We work exclusively with high-growth, venture-backed companies. These include post-Series A to later stage startups, and exceptional pre-Series A companies. We do not work with recruiting agencies.</p>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m12">
                <h5>How long will it take to hear back?</h5>
                  <p class="light answers">For applications, you should hear something within two - three weeks. Follows operate differently, and some companies send updates more frequently than others. You will be notified when the job opens, and might receive other news regarding networking events.</p>
              </div>
            </div>
          </div>
              <br><br>
              <div class="section sup">
                <h6>Currently Participating In:</h6><br>
                <img src="{% static "img/logo_nav.png" %}">
              </div>
              <br>
            </div>
          </div>
        </div>
        </div>
      </div>
      <div id="footer">
            <footer class="page-footer cyan">
              <div class="container">
                <div class="row">
                  <div class="col m2 s12">
                    <a href="/about/" class="white-text">About Us</a>
                  </div>
                  <div class="col m2 s12">
                    <a href="http://blog.entrywire.com" class="white-text" target="_blank">Blog</a>
                  </div>
                  <div class="col m2 s12">
                    <a href="/terms/" class="white-text">Terms</a>
                  </div>
                  <div class="col m2 s12">
                    <a href="https://www.facebook.com/entrywire" target="_blank" class="white-text"><i class="fa fa-facebook"></i></a>
                  </div>
                  <div class="col m2 s12">
                    <a href="https://twitter.com/EntryWire" target="_blank" class="white-text"><i class="fa fa-twitter"></i></a>
                  </div>
                  <div class="col m2 s12">
                    <a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
                  </div>
                </div>
              </div>
              <div class="footer-copyright">
                <div class="container">
                  © 2015 HawkHire, Inc.  <a href="mailto:jai@jobfire.co" target="_top">jai@entrywire.com</a>  <a href="mailto:kendall@jobfire.co" target="_top">kendall@entrywire.com</a>
                </div>
              </div>
            </footer>
      </div>
    <script>
    $(document).ready(function(){
    $('select').material_select();
      mixpanel.track('Viewed Home');
      $('a[href^="#"]').on('click',function (e) {
          e.preventDefault();
          var target = this.hash;
          var $target = $(target);

          $('html, body').stop().animate({
              'scrollTop': $target.offset().top
          }, 900, 'swing', function () {
              window.location.hash = target;
          });
      });
      mixpanel.track_forms("#register", "Student Signed Up");

      $('.quick-signup').click(function(e){
        e.preventDefault();
        e.stopPropagation();
        var email = $('#id_email').val();
        mixpanel.track('Email Entered', {'Email':email});
        debugger;
        $('#modal').openModal();
      });
      $('.major-dec').click(function(e) {
        e.preventDefault();
        var major = $('#id_major_select').val();
        var grad_date = $('#id_semester').val()+" "+$('#id_grad_year').val();
        $('#id_major').val(major);
        $('#id_graduation_date').val(grad_date);
        $('#register').submit();
      })
    });
    </script>
  </body>
</html>