{% extends "student_base.html" %}
{% block title %}Apply{% endblock %}
{% block content %}
{% load staticfiles %}
      <!--   Icon Section   -->
<div class="container">
  <br>
  <div class="row center">
    <img class="company-logo" src="{{ posting.company.logo }}">
  </div>
  <div class="row center">
    <h4>{{ posting.position }}</h4>
    <h5>{{ posting.company.name }}</h5>
  </div>
  <div class="row center">
      {% if applied %}
      <i class="medium material-icons" style="color:green;">done</i>
      <p>You've applied!</p>
      {% endif %}
  </div>
  <div class="row">
    <h6>About {{ posting.company.name }}:</h6>
    <p class="flow-text about">{{ posting.company.about }}</p>
    <h6>Location:</h6>
    <p class="flow-text about">{{ posting.location }}</p>
    <h6>Start Date:</h6>
    <p class="flow-text about">{{ posting.job_start_date }}</p>
    <h6>Description:</h6>
    <p class="flow-text about">{{ posting.description|safe }}</p>
  </div>
  <div class="row center">
    {% if not applied %}
    <a href="{% url 'apply' posting.id%}" class="waves-effect waves-light btn-large blue">Apply</a>
    {% endif %}
  </div>
</div>


<script>
  $(document).ready(function(){
  });
</script>
{% endblock %}
