{% extends "student_base.html" %}
{% block title %}JobFire{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="container">
  <h3>Refer Your Friends</h3>
  <br>
  <div class="row">
    {% if errors != None %}
    {{ errors }}
    {% endif %}
    <form class="col s12" role="form" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <ul class="collection referrals">
      {% for result in results %}
        <li class="collection-item avatar">
          <div class="col m6">
            <i class="medium material-icons student-logo z-depth-1 circle responsive-img">perm_identity</i>
            <span class="title">{{ result.name }}</span>
            <p>{{ result.email }}</p>
          </div>
          <div class="input-field col m6 referral">
            <p class="referral-select">
              <input type="checkbox" id="id_check_{{result.email}}" name="{{result.name}}" value="{{result.email}}"/>
              <label for="id_check_{{result.email}}"></label>
            </p>            
          </div>
        </li>
      {% endfor %}
      </ul>
      <input hidden type="text" name="referrals"/>
      <button class="btn waves-light green" type="submit" name="action">Submit
          <i class="mdi-content-send right"></i>
      </button>
    </form>
  </div>
</div>
<script>
$(document).ready(function() {

  function sendReferrals(referrals) {
    $.ajax({
      type: "POST",
      url: "/contact_referrals/",
      data: {"data": JSON.stringify(referrals)},
      dataType: 'application/json',
      error: function (error) {
        console.log(error);
      }
    });
  };

  $('button').on('click', function(e) {
      e.preventDefault();
      var referrals = [];
      $('input[type=checkbox]:checked').each(function() { 
        referrals.push({'name':$(this).attr('name'), 'email':$(this).val()});
      });
      sendReferrals(referrals);
      $('input[name=referrals]').val(referrals);
      window.location.href = "/"
  });
});
</script>
{% endblock %}