{% extends "base.html" %}
{% block title %}EntryWire | Sorry{% endblock %}
{% block content %}
{% load staticfiles %}
<div class="section no-pad-bot top" id="index-banner">
    <div class="container">
      <br>
      <h3 class="center" style="color:white;">Sorry!</h3>
      <div class="row center">
        <h5 class="header col s12 light white-text">We aren't available yet at your school. Please sign up <a href="https://kc19.typeform.com/to/tJmwjt" target="_blank">here</a>, and we'll let you know once we're on campus!</h5>
      </div>  
    </div>
</div>
{% endblock %}
        