{% extends "student_base.html" %}
{% block title %}EntryWire | Dashboard{% endblock %}
{% block content %}
{% load staticfiles %}
      <!--   Icon Section   -->
<div class="section">
  <div class="search z-depth-1">
    <div class="col m10 s12">
      <div class="search-bar">
        <form class="search-form">
          <input type="text" id="search" placeholder="Search Keywords"></input>
        </form>
      </div>
    </div>
    <div class="search-params">
      <div class="row">
        <form action="{% url 'home' %}">
          <div class="col m3 s4 param">
            <select name="job_type" id="id_job_type" required>
              <option name="job_type" value="" disabled selected>Job Type</option>
              <option value="Full-time">Full-Time</option>
              <option value="Internship (Summer)">Internship (Summer)</option>
              <option value="Internship (School Year)">Internship (School Year)</option>
            </select>
          </div>
          <div class="col m3 s4 param">
            <select name="location" id="id_location" required>
              <option name="location" value="" disabled selected>Location</option>
              <option value="New York,  NY">New York</option>
              <option value="San Francisco,  CA">San Francisco</option>
              <option value="Washington,  DC">Washington, DC</option>
              <option value="Boston,  MA">Boston</option>
              <option value="Chicago,  IL">Chicago</option>
              <option value="Austin,  TX">Austin</option>
              <option value="Atlanta,  GA">Atlanta</option>
            </select>
          </div>
          <div class="col m3 s4 param">
            <select name="role" id="id_role" required>
              <option name="role" value="" disabled selected>Role</option>
              <option value="Engineering">Engineering</option>
              <option value="Product">Product</option>
              <option value="Business">Business</option>
            </select>
          </div>
          <div class="col m3 s4 clear">
            <a href="{% url 'home' %}">Clear Search</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="center">
  <h6>{{ count }} jobs available</h6>
  {% if not student.confirmed and student.resume_s3 == None %}
  <h6 style="color:red;">Please confirm your email and <a href="{% url 'update_profile' %}">complete your profile</a> to apply to jobs</h6>
  {% elif student.resume_s3 == None %}
  <h6 style="color:red;">Please <a href="{% url 'update_profile' %}">complete your profile</a> to apply to jobs</h6>
  {% elif not student.confirmed %}
  <h6 style="color:red;">Please confirm your email to apply to jobs</h6>
  {% endif %}
</div>
<div class="section">
  <div class="results z-depth-1">
    <div id="entries" class="endless_page_template">
        {% include page_template %}
    </div>
  </div>
  <br>

<script src="{% static "js/endless-pagination.js" %}"></script>
<script>$.endlessPaginate({paginateOnScroll: true});</script>

<script>
  $(document).ready(function(){

    mixpanel.identify("{{ student.id }}");
    mixpanel.people.set({
      "$last_login": new Date(),        
    });

    var selected = {};
    location.search.substr(1).split("&").forEach(function (pair) {
        if (pair === "") return;
        var parts = pair.split("=");
        selected[parts[0]] = parts[1] &&
        decodeURIComponent(parts[1].replace(/\+/g, " "));
    });
    if (Object.keys(selected).length > 0){
      mixpanel.track('Search', {'Query':[Object.keys(selected).map(function(x){return selected[x]}).join(',')]});
    };
    for (var key in selected) {
      $('option[name='+key+']').removeAttr('selected');
      $('option[value="'+selected[key]+'"]').attr('selected', true);
    };

    $('select').material_select();

    $('select').change(function() {
      var q = $(this).val();
      var base = $(this).attr("name");
      var url = window.location.href.split('?')[0] + '?';
      selected[base] = q;
      for (var key in selected) {
        url = url+key + "=" + encodeURIComponent(selected[key]) + "&";
      }
      url = url.replace(/&$/, '');
      $(location).attr('href',url);
    });

    $('input[id=search]').keypress(function(e){
      if (e.which == 13) {
        e.preventDefault();
        var q = $(this).val();
        var url = window.location.href.split('?')[0] + '?';
        selected['q'] = q;
        for (var key in selected) {
          url = url+key + "=" + encodeURIComponent(selected[key]) + "&";
        }
        url = url.replace(/&$/, '');
        $(location).attr('href',url);
      }
    });
    $('.result').css( 'cursor', 'pointer' );
    $('.btn-posting').click(function(){
      var posting = $(this).attr('name');
      $('#modal'+posting).openModal();
    });
    $('.apply').click(function(){
      var posting = $(this).attr('name');
      window.location.href = "/apply/"+posting+"/";
    });

    $('.btn-posting').click(function() {
        mixpanel.track("Went to Job Details");
      });
    $('.result').click(function(e) {
        var element = '#'+$(this).attr('name');
        mixpanel.track('Looked At Posting', {'Posting ID': $(this).attr('name')});
        if ($(element).is(":hidden") === true) {
          debugger;
          $(element).show('slide');
          window.stop();
        } else if ($(element).is(":hidden") === false){
          debugger;
          $(element).hide('slide');
        }
    });

    $('#entries').endlessPaginate({
        onCompleted: function(data) {
          $('.result').css( 'cursor', 'pointer' );
          $('.btn-posting').click(function(e){
            e.stopPropagation();
            var posting = $(this).attr('name');
            $('#modal'+posting).openModal();
          });
          $('.apply').click(function(){
            var posting = $(this).attr('name');
            window.location.href = "/apply/"+posting+"/";
          });

          $('.btn-posting').click(function() {
              mixpanel.track("Went to Job Details");
            });
          $('.result').unbind('click').click(function() {
              var element = '#'+$(this).attr('name');
              mixpanel.track('Looked At Posting', {'Posting ID': $(this).attr('name')});
              if ($(element).is(":hidden") === true) {
                debugger;
                $(element).show('slide');
              } else if ($(element).is(":hidden") === false){
                debugger;
                $(element).hide('slide');
              }
          });
        }
    });

  });
</script>
{% endblock %}
