{% extends "student_base.html" %}
{% block title %}JobFire{% endblock %}
{% block content %}
{% load staticfiles %}
      <!--   Icon Section   -->
<div class="section">
  <div class="search z-depth-1">
    <div class="col m10 s12">
      <div class="search-bar">
        <form class="search-form">
          <input type="text" id="search" placeholder="Search Keywords"></input>
        </form>
      </div>
    </div>
    <div class="search-params">
      <div class="row">
        <form action="{% url 'home' %}">
          <div class="col m3 s4 param">
            <select name="job_type" id="id_job_type" required>
              <option name="job_type" value="" disabled selected>Job Type</option>
              <option value="Full-time">Full-Time</option>
              <option value="Internship (Summer)">Internship (Summer)</option>
              <option value="Internship (School Year)">Internship (School Year)</option>
            </select>
          </div>
          <div class="col m3 s4 param">
            <select name="location" id="id_location" required>
              <option name="location" value="" disabled selected>Location</option>
              <option value="New York,  NY">New York</option>
              <option value="San Francisco,  CA">San Francisco</option>
              <option value="Washington,  DC">Washington, DC</option>
              <option value="Boston,  MA">Boston</option>
              <option value="Chicago,  IL">Chicago</option>
              <option value="Austin,  TX">Austin</option>
              <option value="Atlanta,  GA">Atlanta</option>
            </select>
          </div>
          <div class="col m3 s4 param">
            <select name="role" id="id_role" required>
              <option name="role" value="" disabled selected>Role</option>
              <option value="Engineering">Engineering</option>
              <option value="Product">Product</option>
              <option value="Business">Business</option>
            </select>
          </div>
          <div class="col m3 s4 clear">
            <a href="{% url 'home' %}">Clear Search</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="center">
  <h6>{{ count }} jobs available</h6>
  {% if not student.confirmed %}
  <h6 style="color:red;">Please confirm your email to apply to jobs</h6>
  {% endif %}
</div>
<div class="section">
  <div class="results z-depth-1">
    {% for posting in postings %}
    <div class="result" name="{{ posting.id }}">
      <div class="row">
        <div class="col m2 s12 company-logo">
          <a href="{{ posting.company.url }}" target="_blank"><img class="square-logo" src="{{ posting.company.logo }}"></a>
        </div>
        <div class="col m3 s12">
          <ul class="posting-details">
            <li><a href="{{ posting.company.url }}" target="_blank"><strong>{{ posting.company.name }}</strong></a></li>
            <li>{{ posting.position }}</li>
            <li>{{ posting.location }}</li>
          </ul>
        </div>
        <div class="col m5 s12">
          <ul class="posting-details">
            <li>{{ posting.job_start_date }} Start</li>
            <li>{{ posting.role }} Role</li>
            <li>{{ posting.job_type }}</li>
          </ul>
        </div>
        <div class="col m2 s12">
          {% if student.confirmed %}
          <a href="{% url 'posting_detail' posting.id%}" class="waves-effect waves-light btn-large btn-posting blue">Apply</a>
          {% endif %}
        </div>
      </div>
      <div class="row detail" id="{{posting.id}}">
        <h6>About {{ posting.company.name }}:</h6>
        <p>{{ posting.company.about }}</p>
        <h6>Description:</h6>
        <p>{{ posting.description|safe }}</p>
      </div>
    </div>
    <div class="row block">
    </div>
    {% endfor %}
  </div>
  <br>
  <div class="pagination row center">
      <span class="step-links">
          {% if postings.has_previous %}
              <a href="?page={{ postings.previous_page_number }}">previous</a>
          {% endif %}
          <span class="current">
              Page {{ postings.number }} of {{ postings.paginator.num_pages }}
          </span>
          {% if postings.has_next %}
              <a href="?page={{ postings.next_page_number }}">next</a>
          {% endif %}
      </span>
  </div>
</div>


<script>
  $(document).ready(function(){

    mixpanel.identify("{{ student.id }}");
    mixpanel.people.set({
      "$last_login": new Date(),        
    });

    var selected = {};
    location.search.substr(1).split("&").forEach(function (pair) {
        if (pair === "") return;
        var parts = pair.split("=");
        selected[parts[0]] = parts[1] &&
        decodeURIComponent(parts[1].replace(/\+/g, " "));
    });
    console.log(selected);
    for (var key in selected) {
      $('option[name='+key+']').removeAttr('selected');
      $('option[value="'+selected[key]+'"]').attr('selected', true);
    };

    $('select').material_select();

    $('select').change(function() {
      var q = $(this).val();
      var base = $(this).attr("name");
      var url = window.location.href.split('?')[0] + '?';
      selected[base] = q;
      for (var key in selected) {
        url = url+key + "=" + encodeURIComponent(selected[key]) + "&";
      }
      url = url.replace(/&$/, '');
      $(location).attr('href',url);
    });

    $('input[id=search]').keypress(function(e){
      if (e.which == 13) {
        e.preventDefault();
        var q = $(this).val();
        if(String(window.location.href).indexOf('?') > -1){
          var url = window.location.href + "&"+"q" + "=" + q;
        } else {
          var url = window.location.href + "?"+"q" + "=" + q;
        }
        $(location).attr('href',url);
      }
    });

    $('.detail').hide();
    $('.result').click(function() {
      var element = '#'+$(this).attr('name');
      console.log(element);
      $(element).toggle('slide');
    });

    $('.btn-posting').click(function() {
      mixpanel.track("Applied to Job");
      mixpanel.people.increment('job_apps');
    });

  });
</script>
{% endblock %}
