{% extends "base.html" %}
{% block title %}JobFire{% endblock %}
{% block content %}
{% load staticfiles %}
<div class="container">
      <br>
      <h4>Student Signup</h4>
      <div class="row">
        {% if errors != None %}
        {{ form.errors }}
        {% endif %}
        {% if message != None %}
        <h6 style="color:red;">{{ message }}</h6>
        {% endif %}
          <form class="col s12" role="form" id="register" method="POST" action="{% url 'student_signup' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
              <div class="input-field col s12">
                <label for="first_name">First Name</label>
                <input type="text" name="first_name" required/>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <label for="last_name">Last Name</label>
                <input type="text" name="last_name" required/>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <label for="email">Email (.edu only)</label>
                <input type="email" name="email" required/>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <label for="password">Password</label>
                <input type="password" name="password" id="id_password" required/>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <label for="re-password">Re-enter Password</label>
                <input type="password" name="re-password" id="id_password_check" required/>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <select name="major" id="id_major" required>
                  <option value="" disabled selected>Major</option>
                  {% for major in majors %}
                  <option value="{{ major.name }}">{{ major.name }}</option>
                  {% endfor %}
                </select>
                <label>Major:</label>
              </div>
           </div>
            <label>Graduation Date:</label>
            <div class="row">
              <div class="col s4 m4">
                <select name="semester" id="id_semester" required>
                  <option value="" disabled selected>Semester</option>
                  <option value="Spring">Spring</option>
                  <option value="Winter">Winter</option>
                </select>
              </div>
              <div class="grad-year col s4 m4">
                <input type="text" name="grad_year" id="id_grad_year" placeholder="Year" required>
              </div>
           </div>
          <div class="file-field input-field">
            <input class="file-path validate" type="text" value="Resume (PDF only)" />
              <div class="btn blue-grey">
                <span>File</span>
                <input type="file" name="resume" id="id_resume" accept="application/pdf" required/>
              </div>
        </div>
        <button class="btn waves-light red darken-4" type="submit" name="action">Submit
            <i class="mdi-content-send right"></i>
        </button>
          </form>
      </div>
  </div>
  <script>
    $(document).ready(function() {
      mixpanel.track('Viewed Student Signup');
      $('select').material_select();
      $('#id_password_check').focusout(function(){
          var pass = $('#id_password').val();
          var pass2 = $('#id_password_check').val();
          if(pass != pass2){
              alert('Passwords do not match!');
              $('#id_password_check').focus();
          }
      });
      mixpanel.track_forms("#register", "Student Signed Up");
    });
  </script>
{% endblock %}
