{% extends "base.html" %}
{% block title %}My Profile{% endblock %}
{% block content %}
{% load staticfiles %}

<div class="container">
  <br><br>
  <div class="row center">
    <h4>{{ student.first_name }} {{ student.last_name}}</h4>
  </div>
    <ul class="collection">
      <li class="collection-item"><strong>Email:</strong> {{ student.email }}</li>
      <li class="collection-item"><strong>University:</strong> {{ student.university.name }}</li>
      <li class="collection-item"><strong>Major:</strong> {{ student.major.name }}</li>
      <li class="collection-item"><strong>Resume:</strong> {{ student.resume_s3 }}</li>
    </ul>
</div>
<script>
  $(document).ready(function(){
  });
</script>
{% endblock %}