{% extends "company_base.html" %}
{% block title %}EntryWire | Update{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="container">
  <h3>{{ company.name }}</h3>
  <br>
  <div class="row">
    {% if errors != None %}
    {{ errors }}
    {% endif %}
      <form class="col s12" role="form" method="POST" action="{% url 'update_company_profile' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
          <div class="input-field col s12">
            <label>Company Name</label>
            {{ form.name }}
          </div>
       </div>
        <div class="row">
          <div class="input-field col s12">
            <label for="email">Contact Email</label>
            <input name="email" id="id_email" type="text" value="{{ recruiter.email }}">
          </div>
       </div>
        <div class="row">
          <div class="input-field col s12">
            <label>URL</label>
            {{ form.url }}
          </div>
       </div>
        <div class="row">
          <div class="input-field col s12">
            <label>Detailed Description</label>
            {{ form.about }}
          </div>
       </div>
        <div class="row">
          <div class="input-field col s12">
            {{ form.address }}
            <label>Address</label>
          </div>
       </div>
        <div class="row">
          <div class="input-field col s12">
            <label>Phone</label>
            {{ form.phone }}
          </div>
       </div>
        <div class="file-field input-field">
          <input class="file-path validate" type="text" value="Logo" />
            <div class="btn blue-grey">
              <span>File</span>
              <input type="file" name="logo" id="id_logo" accept="image/*" />
            </div>
      </div>
    <button class="btn waves-light red darken-4" type="submit" name="action">Update
        <i class="mdi-content-send right"></i>
    </button>
      </form>
  </div>
</div>
<script>
$(document).ready(function() {
  });
</script>
{% endblock %}