{% extends "student_base.html" %}
{% block title %}JobFire{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="container">
  <h3>Change Password</h3>
  <br>
  <div class="row">
    {% if errors != None %}
    {{ errors }}
    {% endif %}
      <form class="col s12" role="form" method="POST" action="{% url 'update_password' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
          <div class="input-field col s12">
            <label for="password">New Password</label>
            <input name="password" id="id_password" type="password">
          </div>
       </div>
        <div class="row">
          <div class="input-field col s12">
            <label>Confirm New Password</label>
            <input name="password_check" id="id_password_check" type="password">
          </div>
       </div>
    <button class="btn waves-light red darken-4" type="submit" name="action">Change Password
        <i class="mdi-content-send right"></i>
    </button>
      </form>
  </div>
</div>
<script>
$(document).ready(function() {
    $('#id_password_check').focusout(function(){
        var pass = $('#id_password').val();
        var pass2 = $('#id_password_check').val();
        if(pass != pass2){
            alert('Passwords do not match!');
            $('#id_password_check').focus();
        }
    });
  });
</script>
{% endblock %}