{% extends "company_base.html" %}
{% block title %}JobFire{% endblock %}
{% load staticfiles %}
{% block extra_head %}
<script>
  var django = {jQuery: jQuery};
</script>
<script src="{% static "tiny_mce/tiny_mce.js" %}"></script>
<script src="{% static "tiny_mce/init_tiny_mce.js" %}"></script>
{% endblock extra_head %}
{% block content %}
<div class="container">
  <h3>Post a Job</h3>
  <br>
  <div class="row">
    {% if errors != None %}
    {{ errors }}
    {% endif %}
      <form class="col s12" role="form" method="POST" action="{% url 'update_posting' posting.id%}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
          <div class="input-field col s12">
            {{ form.job_start_date }}
            <label>Preferred Start Date</label>
          </div>
       </div>
        <div class="row">
          <div class="input-field col s12">
            {{ form.university }}
            <label>University</label>
          </div>
       </div>
        <div class="row">
          <div class="input-field col s12">
            <label for="position">Position</label>
            {{ form.position }}
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            {{ form.job_type }}
            <label>Job Type</label>
          </div>
       </div>
        <div class="row">
          <div class="input-field col s12">
            {{ form.role }}
            <label>Role</label>
          </div>
       </div>
        <div class="row">
          <div class="input-field col s12">
            <label for="location">Location</label>
            {{ form.location }}
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            {{ form.description }}
            <label for="description" class="post-describe">Description</label><br>
          </div>
        </div>
    <button class="btn waves-light red darken-4" type="submit" name="action">Submit
        <i class="mdi-content-send right"></i>
    </button>
      </form>
  </div>
</div>
<script>
$(document).ready(function() {
    $('select').material_select();
  });
</script>
{% endblock %}